# Control de versiones
.git
.gitignore
.github

# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Archivos de entorno (excepto plantillas)
.env
.env.local
.env.*.local
!.env.template

# Archivos de IDE y editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios de compilación
/dist
/build
/coverage

# Logs
logs
*.log

# Otros
README.md
docker-compose*.yml
Dockerfile*
