version: '3.9'

services:
  postgres:
    image: postgres:17-alpine
    container_name: smart-stock-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '${DB_PORT}:5432'
    networks:
      - smart-stock-network
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: smart-stock-api
    ports:
      - '${PORT}:3000'
      - '${DEBUG_PORT}:9229'
    env_file:
      - ./.env
    environment:
      - TZ=America/Havana
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped
    networks:
      - smart-stock-network
    depends_on:
      - postgres
      - redis
  redis:
    image: 'redis:alpine'
    container_name: smart-stock-redis
    ports:
      - '${REDIS_PORT}:6379'
    restart: unless-stopped
    networks:
      - smart-stock-network

volumes:
  postgres_data:
    name: smart-stock-api-postgres-data

networks:
  smart-stock-network:
    name: smart-stock-network
    driver: bridge
